# Node dependencies
node_modules/
frontend/node_modules/

# Compiled Java target and Maven binaries
target/
backend/target/
backend/maven/
*.jar
*.war
*.zip

# Build outputs
dist/
frontend/dist/

# Logs & Cache
*.log
.eslintcache

# IDEs & System
.idea/
.vscode/
.DS_Store
Thumbs.db
